.container{
    width: 98.8vw;
    height: 98.8vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 4px #d88050;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: radial-gradient(circle at center, #ea916d, #9f401b);
    color: black;
    padding: 60px;
    color: #ffffff;
    border-radius: 12px;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h2{
    margin-top: 0;
    text-shadow: 3px 3px 3px #000000;
}
.form input{
    margin-top: 10px;
}
.botao{
    margin-bottom: 15px;
    border: none;
    
    padding: 8px;
    padding-left: 46px;
    padding-right: 46px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #5b1e00;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.botao:hover{
    background-color: #5b1e00;
    transform: scale(1.09);
    transition: all 0.3s ease;
}
.inputs{
    width: 150px;
    height: 25px;
    border: solid 4px rgb(216, 128, 80);
    border-radius: 8px;
    text-align: center;
}
.span{
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}
.Image{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}